/node_modules
/public/hot
/docker/storage
/public/storage
/storage/*.key
/storage/db.sqlite
/vendor
.env-docker
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/widgets-webpack/node_modules
/resources/widgets-webpack/package-lock.json
.idea
.vscode

/tools
.DS_Store
.php-cs-fixer.cache
